a{
    text-decoration: none;
}
.center-1 {
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 750px;
    border-radius: 20px;
    background-color: white;

  }
  .pswrd{
    font-size: 35px;
    margin-left: 10%;
    font-weight: bold;
  }
 .form-group{
    font-size: 25px;
    margin-left: 10%;
    font-weight: bold;
}
#old-password{
    width: 500px;
    height: 25px;
    background-color: rgba(200, 195, 195, 0.511);
    border-color:white;
    margin-top: 20px;

}
#new-password{
    width: 500px;
    height: 25px;
    background-color: rgba(200, 195, 195, 0.511);
    border-color:white;
    margin-top: 0px;
    margin-top: 20px;


}
#confirm-password{
    width: 500px;
    height: 25px;
    background-color: rgba(200, 195, 195, 0.511);
    border-color:white;
    margin-top: 20px;


}
#rectangle{
    width:250px;
    height:40px;
    background:blue;
    margin-top: 50px;
    border-radius: 20px;
    color: blanchedalmond;
    font-style: none;
    
}
.req{
    text-align: center;
    padding: 9px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 200px;
    font-style: none;
    
}
.para-9{
    margin-left: 10%;
    font-weight: bold;
    font-size: 20px;
    margin-top: -18px;
}   
body{
    background-color: rgb(56,161,210);
}
