.center {
    border: 2px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 750px;
    border-radius: 20px;
    background-color: white;

  }
.img1{
    padding: 15px;
}
hr{
    margin-top: 0px;
}
.para{
    text-align: center;
    margin-top: -4.2%;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial Rounded MT Bold;
    
}
.para1{
    font-size: 25px;
    margin-left: 10%;
    font-weight: bold;
    color: blue;
}
.para2{
    font-size: 25px;
    margin-left: 10%;
    margin-top: -30px;
    
    
}
.para3{
    font-size: 25px;
    margin-left: 10%;
    margin-top: -9px;
    
}
.email{
    width: 500px;
    height: 25px;
    background-color: rgba(200, 195, 195, 0.511);
    border-color:white;
    
    
}
#rectangle{
    width:250px;
    height:40px;
    margin-top: 25px;
    background:blue;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

#rectangle:hover{
    background-color: #0d1fc3;
}
.req{
    text-align: center;
    padding: 9px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 200px;
    
    
}
.link{
    font-weight: bold;
    font-size: 20px;
    
}
body{
    background-color: rgb(56, 161, 210);
}

a{
    text-decoration: none;
    color: blue;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid green;
}

.form{
    width: 80%;
   margin-left: 70px;
}